{% extends 'base.html.twig' %}

{% block title 'Nouveau message | MonEcole' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/backoffice.css">{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container pt-4">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1 class="h3 mb-2 text-gray-800">Messages</h1>
                </div>
                <div class="d-md-flex col-md-12 justify-content-between">
                    <div class="">
                        <span class="small font-italic"><a class="text-dark" href="{{ path('dashboard.index') }}"><i class="fas fa-home mr-1"></i>Tableau de bord</a></span>
                        <span class="small font-italic">/</span>
                        <span class="small font-italic"><a class="text-dark" href="{{ path('admin.message.index') }}">Messages</a></span>
                        <span class="small font-italic">/</span>
                        <span class="small font-italic">Répondre au message</span>
                    </div>
                    <div class="">
                        <span class="h3 mb-0 text-right"><a class="returnLink" href="{{ path('admin.message.index') }}"><i class="fas fa-long-arrow-alt-left fa-lg"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header my-0" >
                            <div class="row">
                                <div class="col"> 
                                    <span class="h6 text-dark font-weight-bold">Répondre au message</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <span class="cream font-weight-bold">De : </span>
                                    <span class="text-white">{{ message.transmitter ~ ', le ' ~ message.createdAt | date('d/m/Y')}}</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="cream font-weight-bold">Sujet :</span>
                                    <span class="text-white">{{ message.subject }}</span>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12 cream font-weight-bold">Message reçu :</div>
                                <div class="mt-2 col-md-12 text-white">{{ message.content }}</div>
                            </div>
                            {{ form_start(form) }}
                                <div class="row">                           
                                    <div class="col-md-12 cream">
                                        {{ form_row(form.content) }}
                                        {# {{tinymce_init ()}} #}
                                        {# {{tinymce_init ({ ' use_callback_tinymce_init ' : true , ' theme ' : { ' simple ' : { ' menubar ' : false }}})}} #}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-md-12">
                                        <button class="buttonStyle btn btn-block font-weight-bold">Envoyer</a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
{% endblock %}