{% extends 'base.html.twig' %}

{% block title 'Édition des articles | MonEcole' %}

{% block body %}
<style>
body
{
    background-color: #edeef2;
}
.cream
{
    color: #d2c5b4;
}
.create
{
    border: solid 5px #f8f9fc !important;
    border-radius: 5px;
    color: #343a40 !important;
}
.create:hover
{
    border: solid 5px #343a40 !important;
    border-radius: 5px;
    background-color: #343a40 !important;
    color: #d2c5b4 !important;
}
button, .buttonStyle
{
    background-color: #f8f9fc;
    border: solid 3px #f8f9fc;
}
.buttonStyle:hover
{
    color: white !important;
    background-color: #343a40 !important;
    border: solid 3px #d2c5b4 !important;
}
</style>

    <div class="container-fluid">
        <div class="container pt-4">
            <div class="d-sm-flex mb-4">
                <h1 class="h3 mb-0 text-gray-800 mr-2">Éditer un article</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header my-0" style="background-color: #f8f9fc;">
                            <div class="row">
                                <div class="col"> 
                                    <h3 class="h6 text-dark font-weight-bold">Formulaire</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6 cream">
                                        {{ form_row(form.title) }}
                                    </div>
                                    <div class="col-md-6 cream">
                                        {{ form_row(form.category) }}
                                    </div>
                                </div>
                                <div class="row">                           
                                    <div class="col-md-12 cream">
                                        {{ form_row(form.content) }}
                                        {# {{ form_widget(form.content, {'attr': {'class': 'tinymce'}}) }} #}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-md-12">
                                        <button class="buttonStyle btn btn-block font-weight-bold">Éditer l'article</a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
{% endblock %}