{% extends 'base.html.twig' %}

{% block title 'Gestion des articles | MonEcole' %}

{% block body %}
    <div class="container-fluid">
        <div class="container pt-4">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1 class="h3 mb-2 text-gray-800">Actualités</h1>
                </div>
                <div class="d-md-flex col-md-12 justify-content-between">
                    <div class="">
                        <span class="small font-italic"><a class="text-dark" href="{{ path('dashboard.index') }}"><i class="fas fa-home mr-1"></i>Tableau de bord</a></span>
                        <span class="small font-italic">/</span>
                        <span class="small font-italic">Actualités</span>
                    </div>
                    <div class="">
                        <span class="h3 mb-0 text-right"><a class="returnLink" href="{{ path('dashboard.index') }}"><i class="fas fa-long-arrow-alt-left fa-lg"></i></a></span>
                    </div>
                </div>
            </div>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header my-0" style="background-color: #f8f9fc;">
                            <div class="row">
                                <div class="col"> 
                                    <span class="h6 text-dark font-weight-bold">Articles</span>
                                </div>
                                <div class="col text-right"> 
                                    <a class="font-weight-bold create" href="{{ path('admin.article.new') }}" role="button"><i class="fas fa-plus fa-xl"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <table class="table table-bordered table-hover table-dark text-white">
                                <thead>
                                    <tr>
                                        <th class="cream">ID</th>
                                        <th class="cream">Titre</th>
                                        <th class="cream">Contenu</th>
                                        <th class="cream">Editer</th>
                                        <th class="cream text-right">Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for article in articles %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td>{{ article.title }}</td>
                                        <td>"{{ article.content|striptags|slice(0, 55)|raw }}..."</td>
                                        <td class="text-right">
                                            <a href="{{ path('admin.article.edit', {id: article.id}) }}" class="buttonStyle btn font-weight-bold">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <form method="post" action="{{ path('admin.article.delete', {id: article.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes vous sur de supprimer cet article ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                                <button class="btn buttonStyle font-weight-bold"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-md-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('admin.article.new') }}" role="button">Ajouter un article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
{% endblock %}