{% extends 'base.html.twig' %}

{% block title 'Administration | MonEcole' %}

{% block body %}
    <div class="container-fluid">
        <div class="container pt-4">
            <div class="d-sm-flex mb-4">
                <h1 class="h3 mb-0 text-gray-800">Tableau de Bord</h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-header" style="background-color: #f8f9fc;">
                            <div class="row">
                                <div class="col"> 
                                    <span class="h6 text-dark font-weight-bold m-0">Utilisateurs</span>
                                </div>
                                <div class="col text-right"> 
                                    <a class="create" href="{{ path('admin.user.new') }}">
                                        <i class="fas fa-plus fa-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row d-flex mx-auto justify-content-around">
                                <div class="">
                                    <p class="font-weight-bold text-white">Administrateurs</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-user-shield" style="color: #d2c5b4;"></i>
                                        <span class="text-white">{{ numberOfAdmins }}</span>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="font-weight-bold text-white">Instituteurs</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-chalkboard-teacher" style="color: #d2c5b4;"></i>
                                        <span class="text-white">{{ numberOfTeachers }}</span>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="font-weight-bold text-white">Parents/Élèves</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-users" style="color: #d2c5b4;"></i>
                                        <span class="text-white">{{ numberOfFamilies }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-md-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('admin.user.index') }}" role="button">Voir la liste des utilisateurs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header" style="background-color: #f8f9fc;">
                            <div class="row ">
                                <div class="col"> 
                                    <span class="h6 text-dark">Actualités</span>
                                </div>
                                <div class="col text-right"> 
                                    <a class="create" href="{{ path('admin.article.new') }}">
                                        <i class="fas fa-plus fa-xl text-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <p class="font-weight-bold text-white">Articles</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-edit" style="color: #d2c5b4;"></i>
                                        <span class="text-white">{{ numberOfArticles }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-md-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('admin.article.index') }}" role="button">Voir la liste des articles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header" style="background-color: #f8f9fc;">
                            <div class="row ">
                                <div class="col"> 
                                    <span class="h6 text-dark font-weight-bold">Messages</span>
                                </div>
                                <div class="col text-right"> 
                                    <a class="create" href="{{ path('admin.message.new') }}">
                                        <i class="fas fa-plus fa-xl text-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row d-flex mx-auto justify-content-around">
                                <span>
                                    <i class="fas fa-inbox" style="color: #d2c5b4; font-size: 1.4em"></i>
                                    <span class="text-white font-weight-bold" style="font-size: 1.4em">{{ receivedMessages }}</span>
                                    <span class="text-white font-weight-bold ml-2">Reçus</span>
                                </span>
                                <span>
                                    <i class="fas fa-envelope" style="color: #d2c5b4; font-size: 1.4em"></i>
                                    <span class="text-white font-weight-bold" style="font-size: 1.4em">{{ notOpenMessages }}</span>
                                    <span class="text-white font-weight-bold ml-2">Non lus</span>
                                </span>
                                <span>
                                    <i class="fas fa-paper-plane" style="color: #d2c5b4; font-size: 1.4em"></i>
                                    <span class="text-white font-weight-bold" style="font-size: 1.4em">{{ sendedMessages }}</span>
                                    <span class="text-white font-weight-bold ml-2">Envoyés</span>
                                </span>
                            </div>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-md-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('admin.message.index') }}" role="button">Voir tout les messages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}