{% extends 'base.html.twig' %}

{% block title 'Tableau de bord | MonEcole' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/backoffice.css">{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container pt-4">
            <div class="d-sm-flex mb-4">
                <h1 class="h3 mb-0 text-gray-800">Tableau de Bord</h1>
            </div>
            <div class="row">
                <!-- Classe -->
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header" >
                            <div class="row">
                                <div class="col"> 
                                    <span class="h6 text-dark font-weight-bold m-0">Classe</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row d-flex mx-auto justify-content-around">
                                <div class="col-sm-8 col-xs-8">
                                    <p class="h4 font-weight-bold text-white">{{ user.classroom }}</p>
                                    <p class="h5 font-weight-bold text-white">{{ user.firstname ~ " " ~ user.lastname }}</p>
                                </div>
                                <div class="col-sm-4 col-xs-4">
                                    <p class="font-weight-bold text-white">Élèves</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-users" style="color: #d2c5b4;"></i>
                                        <span class="text-white">{{ numberOfStudents }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-sm-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('teacher.liaison.index') }}" role="button">Voir les carnets de liaisons</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog -->
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header" >
                            <div class="row ">
                                <div class="col"> 
                                    <span class="h6 text-dark">Blog</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row d-flex mx-auto justify-content-around">
                                <div class="col-sm-8 my-auto">
                                    <ul class="font-weight-bold text-white">
                                        {% for classroom in user.classrooms %}
                                        <li class="">
                                        <a class="text-white" href="{{ path('blog.index', {id: classroom.id}) }}" target="_blank">Blog {{classroom.name }}</a>
                                        </li>
                                        {% endfor %}
                                        <li class=""><a class="text-white" href="{{ path('blogs.index') }}">Voir les autres blogs</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <p class="font-weight-bold text-white">Articles</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-edit" style="color: #d2c5b4;"></i>
                                        <span class="text-white">{{ numberOfArticles }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-md-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('article.index') }}" role="button">Voir la liste des articles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Messages -->
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <span class="h6 text-dark">Messages</span>
                                </div>
                                <div class="col text-right"> 
                                    <a class="create" href="{{ path('admin.message.new') }}">
                                        <i class="fas fa-plus fa-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <div class="row d-flex mx-auto justify-content-around">
                                <div class="">
                                    <p class="font-weight-bold text-white">Non Lus</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-envelope cream"></i>
                                        <span class="text-white">{{ notOpenMessages }}</span>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="font-weight-bold text-white">Reçus</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-inbox cream"></i>
                                        <span class="text-white">{{ receivedMessages }}</span>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="font-weight-bold text-white">Envoyés</p>
                                    <span style="font-size: 2em;">
                                        <i class="fas fa-paper-plane cream"></i>
                                        <span class="text-white">{{ sendedMessages }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 justify-content-center">
                                <div class="col-md-12">
                                    <a class="buttonStyle btn btn-block font-weight-bold" href="{{ path('admin.message.index') }}" role="button">Voir tous les messages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}