{% extends 'base.html.twig' %}

{% block title 'Accueil | MonEcole' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/index.css">{% endblock %}

{% block body %}
    <header id="home">
        <div class="wrapper">
            <div class="content">
                <h1 class="text-white text-center">BIENVENUE</h1>
                <p class="subtitle">sur le site de l'école</p>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-home sticky-top navbar-expand-lg text-corail justify-content-center border-bottom">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-corail" href="{{ path('home') }}#carouselExampleCaptions">Actualités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-corail" href="{{ path('home') }}#about">A propos</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand text-corail" href="{{ path('home') }}#home"><i class="fas fa-school"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-corail" href="{{ path('home') }}#contact">Contact</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link text-corail font-weight-bold" href="{{ path('login') }}">{{ app.user.lastname }}
                    <span class="login-badge mb-2"></span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-corail" href="{{ path('login') }}">Mon compte</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
    <div id="carouselExampleCaptions" class="carousel slide py-5" data-ride="carousel" data-interval="300000" data-pause="false">
        <ol class="carousel-indicators" data-keyboard="true">
            {% for article in articles %}
            <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index0 }}" class="{{ loop.index is same as(1) ? "active" : ""  }}"</li>
            {% endfor %}
        </ol>
        <div id="news" class="carousel-inner">
            {% for article in articles %}
            <div class="carousel-item {{ loop.index is same as(1) ? "active" : ""  }}">
                <div class="d-block w-100 my-auto">
                    <div class="container-fluid my-auto">
                        <div class="col-lg-10 mx-auto my-5">
                            <div class="card">
                                <h5 class="card-header text-center">Actualités</h5>
                                <div class="card-body text-white">
                                    <div class="d-flex justify-content-between px-2">
                                        <p class="card-p">le {{ article.createdAt | date('d/m/Y') }}</p>
                                        <p class="card-p">{{ article.categoryType }}</p>
                                    </div>
                                    <h4 class="text-center pb-5">{{ article.title }}</h4>
                                    <p class="card-text text-center">{{ article.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="about" class="bg-white py-5">
        {# <div class="d-block w-100 my-auto"> #}
            <div class="container-fluid my-auto">
                <div class="col-sm-12 col-md-10 mx-auto my-5">
                    <div class="card border-bottom-0">
                        <h5 class="card-header text-center border-bottom-0">A Propos</h5>
                        <div class="card-img-top"></div>
                    </div>
                </div>
                <div class="col-md-10 mx-auto my-5 text-center">
                    <h2 class="mb-4 text-center">Consectetur adipiscing</h2>
                    <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit egestas magna. Phasellus rutrum nunc erat, a vulputate nulla vestibulum et. Nullam porttitor nibh ut lectus porttitor, a tincidunt elit tempus. Vestibulum at fringilla est, sed pulvinar ex. Maecenas semper facilisis est, quis aliquet turpis blandit id. Vestibulum volutpat fermentum erat ut tincidunt. Vestibulum pretium dolor leo. Etiam viverra turpis vel cursus malesuada. Mauris viverra ex tortor, at lacinia risus commodo id. Vivamus condimentum rhoncus pulvinar. Morbi vel ex lorem. Cras vel urna et eros suscipit iaculis. Curabitur sapien erat, dignissim ac porttitor a, aliquet ac metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut sapien justo. Quisque ut dolor et diam venenatis rutrum.</p>
                </div>
                <div class="section-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 mb-5">
                                <h3 class="text-center">Consectetur</h3>
                                <img src="/images/03.png" alt="" class="img-fluid my-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                                    lacus tellus. In pretium lobortis blandit.</p>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <h3 class="text-center">Malesuada</h3>
                                <img src="/images/04.png" alt="" class="img-fluid my-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                                    lacus tellus. In pretium lobortis blandit.</p>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <h3 class="text-center">Malesuada</h3>
                                <img src="/images/05.png" alt="" class="img-fluid my-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                                    lacus tellus. In pretium lobortis blandit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {# </div> #}
    </div>

    <div id="contact" class="d-block w-100 py-5">
        <div class="container-fluid my-auto">
            <div class="col-lg-10 mx-auto my-5">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                   Erreur : Les données du formulaire ne sont pas valides, veuillez réessayer.
                </div>
            {% endif %}
                <div class="card">
                    <h5 class="card-header text-center">Contact</h5>
                    <div class="card-body text-white">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(form.lastname) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.firstname) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.subject) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="text-right">
                            <button class="buttonStyle btn btn-large font-weight-bold"><i class="fas fa-paper-plane mr-2"></i>Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small lighten-3 dark-grey-text">
        <div class="container-fluid footer1 py-2 align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li>
                            <i class="fab fa-facebook-f mr-3"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter mr-3"></i>
                        </li>
                        <li>
                            <i class="fab fa-instagram mr-3"></i>
                        </li>
                        <li>
                            <i class="fab fa-youtube"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-dark py-4">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
                        <li>
                            <a class="nav-link text-white mx-auto" href="{{ path('home') }}#home">Accueil</a>
                        </li>
                        <li>
                            <a class="nav-link text-white mx-auto" href="{{ path('home') }}#news">Actualités</a>
                        </li>
                        <li>
                            <a class="nav-link text-white mx-auto" href="{{ path('home') }}#about">A propos</a>
                        </li>
                        <li>
                            <a class="nav-link text-white mx-auto" href="{{ path('home') }}#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}