{% extends 'base.html.twig' %}

{% block title 'Gestion des utilisateurs | MonEcole' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/backend.css">{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container pt-4">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1 class="h3 mb-2 text-gray-800">Utilisateurs</h1>
                </div>
                <div class="d-md-flex col-md-12 justify-content-between">
                    <div class="">
                        <span class="small font-italic"><a class="text-dark" href="{{ path('dashboard.index') }}"><i class="fas fa-home mr-1"></i>Tableau de bord</a></span>
                        <span class="small font-italic">/</span>
                        <span class="small font-italic">Utilisateurs</span>
                    </div>
                    <div class="">
                        <span class="h3 mb-0 text-right"><a class="returnLink" href="{{ path('dashboard.index') }}"><i class="fas fa-long-arrow-alt-left fa-lg"></i></a></span>
                    </div>
                </div>
            </div>


        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header my-0" style="background-color: #f8f9fc;">
                            <div class="row text-dark font-weight-bold">
                                <div class="col"> 
                                    <span class="h6 m-0">Utilisateurs</span>
                                </div>
                                <div class="col text-right"> 
                                    <a class="create" href="{{ path('admin.user.new') }}">Ajouter<i class="fas fa-plus fa-xl ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-dark">
                            <table class="table table-bordered table-hover table-dark text-white m-0">
                                <thead>
                                    <tr>
                                        <th class="user-cream">{{ knp_pagination_sortable(users, '#ID', 'u.id') }}</th>
                                        <th class="user-cream">{{ knp_pagination_sortable(users, 'Nom', 'u.lastname') }}</th>
                                        <th class="user-cream">{{ knp_pagination_sortable(users, 'Prénom', 'u.firstname') }}</th>
                                        <th class="user-cream">{{ knp_pagination_sortable(users, 'Classe', 'u.classroom ') }}</th>
                                        <th class="user-cream">{{ knp_pagination_sortable(users, 'Email', 'u.email') }}</th>
                                        <th class="user-cream">{{ knp_pagination_sortable(users, 'Role', 'u.roles') }}</th>
                                        {# <th class="cream text-right">Supprimer</th> #}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.lastname }}</td>
                                            <td>{{ user.firstname }}</td>
                                            <td>{{ user.classroom }}</td>
                                            <td>{{ user.email }}</td>
                                            {% for role in user.roles %}
                                                {% if role == 'ROLE_TEACHER' %}
                                                    <td>Instituteur</td>
                                                {% elseif role == 'ROLE_USER' %}
                                                    <td>Élève</td>
                                                {% elseif role == 'ROLE_ADMIN'%}
                                                    <td>Administrateur</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td class="text-right">
                                                <form method="post" action="{{ path('admin.user.delete', {id: user.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes vous sur de supprimer cet utilisateur ?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <button class="btn buttonStyle font-weight-bold"><i class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pagination mt-4 justify-content-center">
                        {{ knp_pagination_render(users) }}
                    </div>
                </div>
            </div>         
        </div>
    </div>
{% endblock %}